.temp_warm{
    color: red;
}

.temp_cold{
    color: darkblue;
}

.search{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.search input{
    width: 30%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    background: transparent;
    color: white;
}

.container width{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.weather{
    width: 100%;
    height: 100vh;
    position: relative;
}

.weather:before {
    background: url("../images/cloudy_background.jpeg") no-repeat center center/cover;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.related_info{
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    color: white;
}

.related_info div{
    padding: 1rem;
}

.current_weather {
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.current_weather div{
    padding: 1rem;
}

.weather-icon{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.weather-icon img{
    width: 10rem;
    height: 10rem;
}